# ---- Deny by default -------------------------------------------------------
*

# ---- Project files ---------------------------------------------------------
!/.gitignore
!/README.md
!/CMakeLists.txt
!/CMakePresets.json
!/stocktool.cfg
!/src/
!/src/*.cpp
!/src/*.h
!/src/*.rc
!/src/*.ico
!/tools/
!/tools/*.py

# ---- Generated (last match wins) -------------------------------------------
build/
out/
.vs/
*.user
__pycache__/
